<section>
  <h1>About Me</h1>
  <p><img src="/images/mugshot.png" width="150" height="150"/></p>
  <p>
  I am a Software Developer working for an internet start-up in
  California. From 2000-2009, I worked in Europe and developed video
  games for PC and XBOX.</p>
  <p>If you are curious about me, you may want to check out
  my <a href="http://www.mobygames.com/developer/sheet/view/developerId,42844/">Mobygames</a>
  and < a href="http://www.linkedin.com/in/rehling">LinkedIn</a> profiles.</p>
</section>
