<section>
  <h1>About Me</h1>
  <p><img src="/images/mugshot.png" align="right"/>Enno Rehling is
  a German Game Developer living in the United States who works for
  an internet start-up in California. From 2000-2009, he worked in
  Europe and developed video games for PC and XBOX.</p>

  <p>You might be interested in my
  <a href="http://www.mobygames.com/developer/sheet/view/developerId,42844/">Mobygames</a> or
  <a href="http://www.linkedin.com/in/rehling">LinkedIn</a> profiles.</p>
</section>
